<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm Jamie, a final year PhD student at Lancaster University. My PhD research focuses on studying supernova, using data science. The PhD has been an enjoyable experience, but I'm ready to move on to what comes next. I'll be finishing in October 2023.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p>Outside of university I do a bunch of different things. I recently oraganised a <!--<a href="https://www.instagram.com/p/Ciu7TJus1Ff/" target=_blank>--> science festival in my home town, in rural Wales. I've also developed an exhibit for the art festival 'Light Up Lancaster', showing how sunsets on other planets come in a wide variety of colours. I have a deep love for movies, and enjoy seeing all of the incredible technology used to create unique effects.</p>
      </div>
    </div>
  </div>
</section>
