<!-- skills Section -->
<section class="success" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="float-container">
      <div class="float-child">
        <h3>Programming</h3>
        <ul style="list-style: none;">
          <li>Matlab</li>
          <li>Python</li>
        </ul>
      </div>
      <div class="float-child">
        <h3>Design</h3>
        <ul>
          <li>After effects</li>
          <li>Canva</li>
        </ul>
      </div>
    </div>
  </div>
</section>
